@font-face {
  font-family: "Flaticon";
  src: url("Flaticon.eot");
  src: url("Flaticond41d.eot?#iefix") format("embedded-opentype"),
       url("Flaticon.woff") format("woff"),
       url("Flaticon.ttf") format("truetype"),
       url("Flaticon.html#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
		font-family: "Flaticon";
		src: url("Flaticon.html#Flaticon") format("svg");
	}
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after{
	font-family: Flaticon;
	font-style: normal;
}

.flaticon-nature:before { content: "\f100"; }
.flaticon-juice:before { content: "\f101"; }
.flaticon-fruit-tree:before { content: "\f102"; }
.flaticon-gymnast-diet:before { content: "\f103"; }
.flaticon-shapes:before { content: "\f104"; }
.flaticon-plant:before { content: "\f105"; }
.flaticon-title:before { content: "\f106"; }
.flaticon-honey:before { content: "\f107"; }
.flaticon-bee:before { content: "\f108"; }
.flaticon-wheat:before { content: "\f109"; }
.flaticon-leaves:before { content: "\f10a"; }